.container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 4%;
  width: 100%;
}

.container a {
  color: black;
  font-size: 1.7rem;
  padding: 15px;
  text-decoration: none;
}

.container a:hover {
  color: orangered;
}

.container button {
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.container h1 {
  background: linear-gradient(270deg, black 0%, red 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.containerInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
}

.containerInput form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.containerInput button {
  align-self: center;
  background: linear-gradient(270deg, black 0%, red 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 20%;
}

.input {
  align-self: center;
  width: 80%;
}
