.container {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.container h1 {
  background: linear-gradient(270deg, black 0%, red 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.containerInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 5px;
}

.containerInput form {
  align-items: center;
  display: flex;
  justify-content: center;
}

.containerInput button {
  align-self: center;
  background: linear-gradient(270deg, black 0%, red 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 20%;
}

.input {
  align-self: center;
  width: 80%;
}
