.container img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.containerButton {
  bottom: 0;
  margin-bottom: 0.5em;
  margin-top: -2.5em;
  position: fixed;
  top: 100%;
  width: 100%;
}

.information {
  display: flex;
  flex-direction: column;
}

.information h1 {
  font-weight: 600;
}

.information p {
  align-self: center;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.container iframe {
  height: 500px;
  margin-bottom: 200px;
  width: 100%;
}


@media screen and ( min-width : 768px ) {

  .container img {
    height: 50%;
    object-fit: cover;
    object-position: center;
    width: 50%;
  }

}
